<ul>
<li id="shop"><div><a href="#" id="shopBtn"><span>SHOP</span></a></div></li>
<li id="collections"><div><a href="#"><span>COLLECTIONS</span></a></div></li>
<li id="gifts"><div><a href="#"><span>GIFTS</span></a></div></li>
<li id="moodboard"><div><a href="#"><span>MOODBOARD</span></a></div></li>
<li id="blog"><div><a href="#"><span>BLOG</span></a></div></li>
<li id="mGlass"><div><a href="#"><img id="mGlassPicSvg" src="mglass.svg" alt="mglass" ><!--[if lte IE 8 ]><img src="mglass.png" alt="mglass"><![endif]--></a></div></li>
<li class="stretch"></li>
</ul>
