<!DOCTYPE html>
<!--[if lte IE 8 ]>    <html lang="en" class="ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class=""><!--<![endif]-->
<head>
<meta charset="utf-8">
<link rel="stylsheet" href="normalize.css">
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Skandiweb uzdevums nr. 1</title>
</head>
<body>
<div id="mainWrap">
<div id="contentWrap">
<div id="header">
{% include header.html %}
</div>
<div id="productNav">
{% include product_nav.html %}
</div>
<div id="content">
{% include product_info.html %}
{{ content }}
</div>
</div>
</div>
</div>
</body>
</html>
